/*
 * L'effroyable fossé entre paragraphes
 * Il faut respecter aussi le gras, l'italique, la largeur des paragraphes…
 */

#aToiDeJouer{
    display: inline-flex;
    font-size: 20.5px;
    font-weight: 100;

}

p {
    margin-bottom: 1rem;
}

em {
    font-style: italic;
    font-weight: lighter;
}

strong {
    font-weight: bold;
}

div{
    margin-right: 3rem;
    width: 100%;
}

