/*
 * L'effroyable fossé entre paragraphes
 * Il faut respecter aussi le gras, l'italique, la largeur des paragraphes…
 */

 #aToiDeJouer {
    display: flex;
    gap: 1.5rem;
 }

 p {
    margin-bottom: 1rem;
 }

 em {
    font-style: italic;
    font-weight: 300;
 }

 strong {
    font-weight: bold;
 }