/*
 * Les timides ronds multicolores
 * Par défaut, les ronds sont gris, mais au moment où la souris passe au dessus d'un rond, le rond doit changer de couleur
 * Pour les codes couleurs, il faut aller les récupérer directement sur le logo de Google !
 * En bonus, au survol de la souris, on grossit aussi le rond et il met 1 seconde pour atteindre la nouvelle "taille"
 */




.loading{
    border: 1px solid black;
    padding: 15% 15%;
    display: flex;
}



.loading__circle--color-blue{
    background-color: grey;
    border-radius: 50%;
    padding: 2rem;
    font-size: 20px;
}



.loading__circle--color-red{
    background-color: grey;
    border-radius: 50%;
    padding: 2rem;
    font-size: 20px;
}

.loading__circle--color-yellow{
    background-color: grey;
    border-radius: 50%;
    padding: 2rem;
    font-size: 20px;
}

.loading__circle--color-green{
    background-color: grey;
    border-radius: 50%;
    padding: 2rem;
    font-size: 20px;
}
