/*
 * Le drapeau aux étoiles vicieuses
 * Un tour au panama ?
 */
.flag {
    display: flex;
    flex-wrap: wrap;
}

.rouge {
    background-color: RGB(210, 16, 52);
    width: 50%;
    height: 50%;
}

.bleu {
    background-color: RGB(0, 82, 147);
    width: 50%;
    height: 50%;
}

.blanc {
    background-color: white;
    width: 50%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
